.type-103 {
  border-top: 3px solid #f0d898;
}
.type-103 .copyright {
  background: #512d1f;
  color: #fff;
  padding: 15px;
  font-size: 11px;
}
.type-103 .copyright p {
  padding: 30px 0;
}
.type-103 .logo-cert {
  width: 100%;
  padding: 0;
}
.type-103 .logo-cert img {
  padding: 0 8px;
}
.type-103 .dropbtn {
  background-color: #d5d0cc;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .type-103 .dropbtn {
    display: none;
  }
  .type-103 p {
    float: right;
  }
  .type-103 .logo-cert {
    float: left;
  }
}
@media (max-width: 992px) {
  .type-103 .dropbtn {
    border-radius: 7px;
  }
  .type-103 .logo-cert {
    display: none;
    background: #f1f0f0;
  }
  .type-103 .dropdown:hover .logo-cert {
    display: block;
  }
  .type-103 .dropdown:hover .dropbtn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
