.type-100 {
  font-family: PT Serif;
}
.type-100 .clear {
  clear: both;
}
.type-100 .menu {
  background: #f0d898;
}
.type-100 .top-icons {
  padding-top: 5px;
  font-size: 10px;
}
.type-100 .top-icons ul {
  float: right;
  margin-bottom: -5px;
  padding: 0;
}
.type-100 .top-icons ul .right {
  padding-top: 6px;
}
.type-100 .top-icons li {
  float: left;
  list-style: outside none none;
  margin-right: 6px;
}
.type-100 .top-icons li a {
  color: #000;
}
.type-100 .top-icons li a:hover {
  color: #573229;
  text-decoration: none;
}
.type-100 .top-icons li p {
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #000;
  padding: 3px 6px;
  border-radius: 15px 20px 20px 50px;
}
.type-100 .top-icons li .fa-phone:before {
  content: "\f095";
  padding-right: 10px;
}
.type-100 .top-icons li span {
  padding: 0 6px 0 6px;
}
.type-100 .top-icons ul li {
  border-right: 1px solid #000;
}
.type-100 .top-icons ul li:first-child,
.type-100 .top-icons ul li:last-child {
  border-right: none;
}
.type-100 .dropbtn {
  display: none;
}
@media (min-width: 992px) {
  .type-100 .header-top-dr {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .type-100 .dropbtn {
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    display: block;
  }
  .type-100 .dropbtn a {
    color: #000;
    text-decoration: none;
  }
  .type-100 .dropbtn a:hover {
    color: #512d1f;
  }
  .type-100 .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }
  .type-100 .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f0d898;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    height: 175px;
    right: 5px;
  }
  .type-100 .dropdown-content a {
    padding: 5px 15px 5px 5px;
    display: block;
  }
  .type-100 .dropdown-content a:hover {
    background-color: #b7b06c;
  }
  .type-100 .dropdown:hover .dropdown-content {
    display: block;
  }
  .type-100 .top-icons li {
    padding: 0;
    margin: 0;
  }
  .type-100 .top-icons li p {
    display: none;
  }
  .type-100 .top-icons ul li {
    border-right: none;
  }
  .type-100 .top-icons {
    padding-top: 0 !important;
  }
}
