.type-100 .container-fluld {
  background: #f0d898;
}
.type-100 .top-icons {
  padding-top: 10px;
  font-size: 10px;
}
.type-100 .top-icons ul {
  float: right;
}
.type-100 .top-icons li {
  float: left;
  list-style: outside none none;
  margin-right: 10px;
}
.type-100 .top-icons li span {
  border-right: 1px solid #000;
  padding-right: 10px;
}
.type-100 .top-icons li a {
  color: #000;
}
.type-100 .top-icons li a:hover {
  color: #512d1f;
  text-decoration: none;
}
@media (min-width: 992px) {
  .type-100 .container {
    max-width: 960px;
  }
}
