.type-104 {
  font-family: PT Serif;
}
.type-104 .clear {
  clear: both;
}
.type-104 .product {
  border-radius: 10px;
  background: #dfd7d5;
  opacity: 0.8;
  padding: 10px 5px 5px 5px;
}
.type-104 .product img {
  max-width: 100%;
}
.type-104 .product .col-left {
  padding-right: 5px;
}
.type-104 .product .title {
  color: #4e2d1c;
  font-size: 17px;
  font-weight: bold;
  margin-top: 0px;
}
.type-104 .product .content .p-content {
  margin-right: 15px;
  text-align: justify;
  color: #4e2d1c;
  font-weight: 500;
  font-size: 15px;
}
.type-104 .product .btn-click {
  margin: 15px 0;
}
.type-104 .product .btn-click .a-click:hover {
  text-decoration: none;
  padding: 7px;
  background: #885642;
  border-radius: 5px;
}
.type-104 .product .btn-click .a-click {
  text-decoration: none;
  padding: 7px;
  background: #512d1f;
  color: #fff;
  border-radius: 5px;
}
.type-104 .product .btn-click .fa {
  font-size: 15px;
}
@media (max-width: 768px) {
  .type-104 img {
    display: none;
  }
  .type-104 .title,
  .type-104 .btn-click {
    text-align: center;
  }
  .type-104 .product {
    margin-top: 15px;
  }
  .type-104 .product:last-child {
    margin-bottom: 15px;
  }
  .type-104 .p-content {
    margin-right: 0 !important;
  }
}
@media (max-width: 480px) {
  .type-104 .col-left {
    display: none;
  }
  .type-104 .col-right {
    padding: 0 15px;
  }
  .type-104 .fa {
    display: none;
  }
  .type-104 .title {
    font-size: 12px;
    text-align: center;
  }
}
